In [1]:
import mysql.connector as connection
import pandas as pd


try:
    mydb = connection.connect(host = "localhost", user = "root", passwd = "root", use_pure = True) #ip address 127.0.0.1
    print(mydb.is_connected())
    mydb.close()
except Exception as e:
    print(str(e))

True

In [2]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = "localhost", user = "root", passwd = "root", use_pure = True) 
    
    query = "SHOW DATABASES"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print(cursor.fetchall())
    
except Exception as e:
    mydb.close()
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('sakila',), ('sys',), ('world',)]

In [3]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = "localhost", user = "root", passwd = "root", use_pure = True) 
    print(mydb.is_connected())
    
    query = "create database Student;"
    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Database Created!!

In [14]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = "localhost", database = 'Student', user = "root", passwd = "root", use_pure = True) 
    print(mydb.is_connected())
    
    query = "create table StudentDetails (ID INT(10), FirstName VARCHAR(60), LastName VARCHAR(60), RegistrationDate DATE, Class VARCHAR(20), Sec VARCHAR(10))"

    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Table Created!!")
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Table Created!!

In [19]:
import mysql.connector as connection

try:
    mydb = connection.connect(host = "localhost", database = 'Student', user = "root", passwd = "root", use_pure = True) 
    print(mydb.is_connected())
    
    query = "INSERT INTO StudentDetails VALUES ('123', 'Jeya', 'Kumar', '1998-09-04', 'Eleventh', 'A')"

    
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Value inserted into the Table!!")
    mydb.commit()
    mydb.close()
    
except Exception as e:
    mydb.close()
    print(str(e))

True
Value inserted into the Table!!