In [2]:
#filter

In [3]:
def even(n):
    if n%2 == 0:
        return True

In [8]:
lst = [1,2,3,4,5,6,7,8,9,10]

In [9]:
list(filter(lambda x:x%2==0,lst))

[2, 4, 6, 8, 10]

In [6]:
list(map(lambda x:x%2==0,lst))

[False, True, False, True, False, True, False, True, False, True]

In [10]:
l = [1,2,3,4,5,6,7,8,9]

print(list(filter(lambda x:x%2==0,l)))

[2, 4, 6, 8]

In [11]:
a = lambda x:x%2==0

In [12]:
l = [1,2,3,4,5,6,7,8,9]

print(list(filter(a,l)))

[2, 4, 6, 8]

In [13]:
list(filter(a,l))

[2, 4, 6, 8]

In [14]:
#OOPS concept

In [15]:
def mystery(l):
    if l == []:
        return(l)
    else:
        return(mystery(l[1:])+l[:1])

In [16]:
mystery([22,34,18,57,92,45])

[45, 92, 57, 18, 34, 22]

In [17]:
i = 10

In [18]:
type(i)

int

In [19]:
print(type(i))

<class 'int'>

In [20]:
s  = "jeya"

In [21]:
type(s)

str

In [22]:
print(type(s))

<class 'str'>

In [25]:
class test:
    pass

In [28]:
a = test()
print(type(a))

<class '__main__.test'>

In [29]:
class tes:
    pass 
b = tes()

In [38]:
b.name = 'jeya'
b.age = 22
b.yob = 1998

c = tes()
c.name = 'kumar'
c.age = 23
c.surname = 'jeya'

In [39]:
print(b)

<__main__.tes object at 0x000001D6527DF5E0>

In [40]:
b.name

'jeya'

In [41]:
c.name

'kumar'

In [42]:
b.surname

AttributeError: 'tes' object has no attribute 'surname'

In [23]:
class Person:
    pass

In [24]:
jeya_kumar = Person()
jeya_kumar.name = 'Jeya'
jeya_kumar.surname = 'Kumar'
jeya_kumar.year_of_birth = 1998

In [43]:
print(jeya_kumar)

<__main__.Person object at 0x000001D6527AFDF0>

In [45]:
print("%s %s was born in %d." %
     (jeya_kumar.name, jeya_kumar.surname, jeya_kumar.year_of_birth))

Jeya Kumar was born in 1998.

In [46]:
#To write claa in right way

In [69]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [70]:
a = Person('jeya','kumar',1998)

In [50]:
a.name

'jeya'

In [51]:
a.surname

'kumar'

In [52]:
a.year_of_birth

1998

In [53]:
b = Person('ramesh', 'kumar', 1999)

In [54]:
b.name

'ramesh'

In [67]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name1 = name
        self.surname = surname
        self.year_of_birth = year_of_birth

In [58]:
a.name

AttributeError: 'Person' object has no attribute 'name'

In [71]:
print(a)

<__main__.Person object at 0x000001D652980940>

In [72]:
a

In [59]:
a.name1

'jeya'

In [96]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def __str__(self): #It will return the same.
        return "%s %s was born in %d ." % (self.name, self.surname, a.year_of_birth)

In [101]:
a = Person("Jeya", "Kumar", 1998)

In [62]:
print(a)

Jeya Kumar was born in 1998 .

In [66]:
print(a.age(2021))

23

In [64]:
print(a.age(1999))

1

In [65]:
print(a.age(1998))

0

In [75]:
a

In [76]:
print(a)

Jeya Kumar was born in 1998 .

In [78]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def __str__(self): #It will return the same.
        return "Jeya Kumar"

In [84]:
a = Person('Jeya', 'Kumar', 1998)

In [85]:
a

In [81]:
print(a)

Jeya Kumar

In [82]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def __str__(self): #It will return the same.
        return 45

In [86]:
print(a)

TypeError: __str__ returned non-string (type int)

In [87]:
a.age

In [88]:
a.age()

TypeError: age() missing 1 required positional argument: 'current_year'

In [90]:
a.age(2021)

23

In [91]:
a.name

'Jeya'

In [92]:
a.surname

'Kumar'

In [93]:
a.year_of_birth

1998

In [105]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def concat(b, list1, list2): #we can create differant pointer like b
        return list1+list2
    
    def __str__(self): #It will return the same.
        return "%s %s was born in %d ." % (self.name, self.surname, a.year_of_birth)

In [106]:
a.concat([1,2,3,4,5,6], [7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [107]:
class Person:
    def __init__(self, name):
        self.name = name
        
    def __init__(self, name, surname):
        self.name = name
        self.surname = surname
        
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
        
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def concat(b, list1, list2): #we can create differant pointer like b
        return list1+list2
    
    def __str__(self): #It will return the same.
        return "%s %s was born in %d ." % (self.name, self.surname, a.year_of_birth)

In [108]:
a.concat([1,2,3,4,5,6], [7,8,9,10])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [109]:
alec = Person()

TypeError: __init__() missing 3 required positional arguments: 'name', 'surname', and 'year_of_birth'

In [110]:
class Person:
    def __init__(self, name, surname, year_of_birth):
        self.name = name
        self.surname = surname
        self.year_of_birth = year_of_birth
        
    def __init__(self, name):
        self.name = name
        
    def __init__(self, name, surname): #It was looking for last init method
        self.name = name
        self.surname = surname
        
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def concat(b, list1, list2): #we can create differant pointer like b
        return list1+list2
    
    def __str__(self): #It will return the same.
        return "%s %s was born in %d ." % (self.name, self.surname, a.year_of_birth)

In [111]:
alec = Person()

TypeError: __init__() missing 2 required positional arguments: 'name' and 'surname'

In [112]:
#Set method
class person:

    def set_name(self, name):
        self.name = name
        
    def set_surname(self, surname):
        self.surname = surname
        
    def set_year_of_birth(self, year_of_birth):
        self.year_of_birth = year_of_birth
    
    def age(self, current_year):
        return current_year - a.year_of_birth
    
    def concat(b, list1, list2): #we can create differant pointer like b
        return list1+list2
    
    def __str__(self): #It will return the same.
        return "%s %s was born in %d ." % (self.name, self.surname, a.year_of_birth)

In [113]:
press = person()

In [114]:
press.name

AttributeError: 'person' object has no attribute 'name'

In [115]:
press = person()
press.set_name('Jeya')

In [117]:
press.name

'Jeya'

In [118]:
press.surname #we have to set the data to get the output

AttributeError: 'person' object has no attribute 'surname'

In [119]:
press.set_surname('Kumar')

In [120]:
press.surname

'Kumar'