In [6]:
k = ['jeya', 'kumar', 2,3,4,5]
type(k)

list

In [7]:
k

['jeya', 'kumar', 2, 3, 4, 5]

In [2]:
m = list()
type(m)

list

In [3]:
m = list("jeya")
m

['j', 'e', 'y', 'a']

In [4]:
m = list(["jeya", "kumar"])

In [5]:
m

['jeya', 'kumar']

In [36]:
list = ([['jeya', ' kumar'], 'jeya', 'uhefdd', ['xyz', 'jdf','34'],77,45])
l = list

In [37]:
l

[['jeya', ' kumar'], 'jeya', 'uhefdd', ['xyz', 'jdf', '34'], 77, 45]

In [27]:
m = []
for i in l:
    print(i)

['jeya', ' kumar']
jeya
uhefdd
['xyz', 'jdf', 34]

In [28]:
m = []
for i in l:
    m.append(i[::-1])

In [29]:
m

[[' kumar', 'jeya'], 'ayej', 'ddfehu', [34, 'jdf', 'xyz']]

In [1]:
l = ('dff',344,34,55,'dfdsa','def',45)

In [6]:
m = []
for i in l:
    if type(i) == str:
        m.append(i)

In [7]:
m

['dff', 'dfdsa', 'def']

In [4]:
j = "jeya"
j[0:2]

'je'

In [5]:
for i in j:
    print(i)

j
e
y
a

In [8]:
m = []
for i in l:
    if type(i) == str:
        print(i[::-1])

ffd
asdfd
fed

In [9]:
for i in [1,2,3,"jeya",["kumar","xyz","abc"]]:
    if type(i) == list:
        print(i[::-1])

['abc', 'xyz', 'kumar']

In [11]:
m = []
for i in [1,2,3,"jeya",["kumar","xyz","abc"]]:
    if type(i) == list:
        for j in i[::-1]:
            m.append(j[::-1])

In [12]:
m

['cba', 'zyx', 'ramuk']

In [1]:
for i in "jeya":
    print(i,end = '\t')

j	e	y	a

In [2]:
for i in "jeya":
    print(i,end = ' ')

j e y a

In [4]:
l = ["jeya", "kumar", "jkl", "lkj"]

for i in range(0,4,2):
    print(l[i])

jeya
jkl

In [5]:
k = [44,6,-3]
k.append("jeya")
k

[44, 6, -3, 'jeya']

In [6]:
num = [1,2,3,4,5,6,7,8,9,0]

sum = 0 
for val in num:
    sum = sum+val
print(sum)

45

In [1]:
n = 10
sum = 0
i = 1

while i <=10:
    sum = sum + i
    i = i+1
print(sum)

55

In [2]:
range(10)

range(0, 10)

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [4]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [15]:
m = []
l = ["sudh","kumar","abc","xyz",3,56,67]
for i in range(len(l)-1,-1,-2):
    m.append(l[i])
print(m)

[67, 3, 'abc', 'sudh']

In [16]:
for i in "jeyakumar":
    if  i == 'k':
        break
    print(i)
else:
    print("print after this for loop")
print("end")

j
e
y
a
end

In [17]:
for i in "jeyakumar":
    if i == 'k':
        continue
    print(i)
else:
    print("print after this for loop")
print("end")

j
e
y
a
u
m
a
r
print after this for loop
end

In [18]:
input()

jeyakumar

'jeyakumar'

In [19]:
type(input())

345

str

In [25]:
type(int(input()))

12345

int