In [1]:
#Pandas

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("E:\examples\ex1.csv")

In [4]:
data

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [5]:
data.head()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [6]:
type(data)

pandas.core.frame.DataFrame

In [7]:
data.head(2)

   a  b  c  d message
0  1  2  3  4   hello
1  5  6  7  8   world

In [8]:
data.tail()

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [9]:
data.tail(2)

   a   b   c   d message
1  5   6   7   8   world
2  9  10  11  12     foo

In [10]:
df = pd.read_table("E:\\examples\\test.tsv")

In [11]:
df

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [12]:
d = pd.read_csv("E:\\examples\\test.tsv")

In [13]:
d

              test\t test\ttest\ttest\ttest
0        sudh\tsudh\tsudh\tsudh\tsudh\tsudh
1  kumar\tkumar\tkumar\tkumar\tkumar\tkumar

In [14]:
e = pd.read_csv("E:\\examples\\test.tsv",sep = '\t')

In [15]:
e

        test   test test.1 test.2 test.3
sudh    sudh   sudh   sudh   sudh   sudh
kumar  kumar  kumar  kumar  kumar  kumar

In [16]:
f  = pd.read_table("E:\examples\ex1.csv", sep = ',')

In [17]:
f

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [18]:
data = pd.read_csv("E:\examples\ex1.csv", header = None)

In [19]:
data

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [20]:
df = pd.read_csv("E:\examples\ex2.csv", names = ['S.no', 'a', 'b', 'c', 'message'])

In [21]:
df

   S.no   a   b   c message
0     1   2   3   4   hello
1     5   6   7   8   world
2     9  10  11  12     foo

In [22]:
g  = pd.read_csv("E:\examples\csv_mindex.csv")

In [23]:
g

  key1 key2  value1  value2
0  one    a       1       2
1  one    b       3       4
2  one    c       5       6
3  one    d       7       8
4  two    a       9      10
5  two    b      11      12
6  two    c      13      14
7  two    d      15      16

In [24]:
g  = pd.read_csv("E:\examples\csv_mindex.csv", index_col=['key1', 'key2'])

In [25]:
g

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In [26]:
g  = pd.read_csv("E:\examples\csv_mindex.csv", index_col=['key1'])

In [27]:
g

     key2  value1  value2
key1
one     a       1       2
one     b       3       4
one     c       5       6
one     d       7       8
two     a       9      10
two     b      11      12
two     c      13      14
two     d      15      16

In [28]:
g  = pd.read_csv("E:\examples\ex4.csv")

In [29]:
g

                                                                      # hey!
a                                                  b        c   d    message
# just wanted to make things more difficult for... NaN      NaN NaN      NaN
# who reads CSV files with computers                anyway? NaN NaN      NaN
1                                                  2        3   4      hello
5                                                  6        7   8      world
9                                                  10       11  12       foo

In [30]:
g  = pd.read_csv("E:\examples\ex4.csv", skiprows = [0,2,3])

In [31]:
g

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [32]:
r = pd.read_csv("E:\examples\ex5.csv")

In [33]:
r

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [34]:
pd.isnull(r)

   Unnamed: 0      a      b      c      d  message
0       False  False  False  False  False    False
1       False  False  False  False  False    False
2       False  False  False  False  False    False

In [35]:
r = pd.read_csv("E:\examples\ex5.csv", na_values=['NULL'])

In [36]:
r

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [37]:
url = "https://www.basketball-reference.com/leagues/NBA_2015_totals.html"

BB = pd.read_html(url)

In [38]:
BB

[      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
 0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
 1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
 2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
 3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
 4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
 ..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
 670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
 671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
 672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
 673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
 674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

      DRB  TRB  AST  STL BLK  TOV   PF   PTS
 0    222  301   68   27  22   60  147   398
 1     19   28   16   16   7   14   24    94
 2    324  523   66   38  86   99  222   537
 3     54   77   15    4   9    9   30    60
 4    220  247  129   41   7  116  167  1035
 ..   ...  ...  ...  ...  ..  ...  ...   ...
 670  284  411  173  124  25  117  171  1071
 671  170  245  135   86  17   75  115   685
 672  114  166   38   38   8   42   56   386
 673  265  362  100   34  49   62  156   472
 674  319  465  113   18  52   76  205   833

 [675 rows x 30 columns]]

In [39]:
BB[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

In [40]:
 df  = BB[0]

In [41]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

In [42]:
df.head(10)

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
5,5,Arron Afflalo,SG,29,DEN,53,53,1750,281,657,...,.841,21,159,180,101,32,5,83,108,771
6,5,Arron Afflalo,SG,29,POR,25,19,752,94,227,...,.851,6,61,67,28,9,2,33,59,264
7,6,Alexis Ajina,C,26,NOP,68,8,957,181,329,...,.818,104,211,315,47,21,51,69,151,443
8,7,Furkan Aldemir,PF,23,PHI,41,9,540,40,78,...,.481,78,98,176,28,17,16,17,96,93
9,8,Cole Aldrich,C,26,NYK,61,16,976,144,301,...,.781,101,237,338,75,37,65,59,122,338

In [43]:
df['MP']

0      1287
1       248
2      1771
3       215
4      2502
       ...
670    2434
671    1605
672     829
673    1487
674    1731
Name: MP, Length: 675, dtype: object

In [44]:
df['MP','Tm']

KeyError: ('MP', 'Tm')

In [45]:
df[['MP','Tm']]

       MP   Tm
0    1287  NYK
1     248  MEM
2    1771  OKC
3     215  MIN
4    2502  TOT
..    ...  ...
670  2434  TOT
671  1605  MIN
672   829  BRK
673  1487  CHO
674  1731  BOS

[675 rows x 2 columns]

In [46]:
type(df['MP'])

pandas.core.series.Series

In [47]:
type(df[['MP']])

pandas.core.frame.DataFrame

In [48]:
df[['MP', 'ORB']]

       MP  ORB
0    1287   79
1     248    9
2    1771  199
3     215   23
4    2502   27
..    ...  ...
670  2434  127
671  1605   75
672   829   52
673  1487   97
674  1731  146

[675 rows x 2 columns]

In [49]:
df.columns

Index(['Rk', 'Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS'],
      dtype='object')

In [50]:
df.dtypes

Rk        object
Player    object
Pos       object
Age       object
Tm        object
G         object
GS        object
MP        object
FG        object
FGA       object
FG%       object
3P        object
3PA       object
3P%       object
2P        object
2PA       object
2P%       object
eFG%      object
FT        object
FTA       object
FT%       object
ORB       object
DRB       object
TRB       object
AST       object
STL       object
BLK       object
TOV       object
PF        object
PTS       object
dtype: object

In [51]:
df  = pd.read_csv("E:\examples\ex5.csv")

In [52]:
df.head(5)

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [53]:
df.tail()

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [54]:
df  = pd.read_csv("E:\examples\ex5.csv", names= ['a','b','c','d','e','f'])

In [55]:
df

     a  b   c   d   e        f
0  NaN  a   b   c   d  message
1  0.0  1   2   3   4    hello
2  1.0  5   6   7   8    world
3  2.0  9  10  11  12      foo

In [56]:
df['a']

0    NaN
1    0.0
2    1.0
3    2.0
Name: a, dtype: float64

In [57]:
type(df['a'])

pandas.core.series.Series

In [58]:
type(df)

pandas.core.frame.DataFrame

In [59]:
df.dtypes

a    float64
b     object
c     object
d     object
e     object
f     object
dtype: object

In [60]:
df.isnull()

       a      b      c      d      e      f
0   True  False  False  False  False  False
1  False  False  False  False  False  False
2  False  False  False  False  False  False
3  False  False  False  False  False  False

In [61]:
df  = pd.read_csv("E:\examples\ex5.csv", skiprows= [1,2])

In [62]:
df

   Unnamed: 0  a   b   c   d message
0           2  9  10  11  12     foo

In [63]:
df['a'].dtype

dtype('int64')

In [64]:
df.isnull()

   Unnamed: 0      a      b      c      d  message
0       False  False  False  False  False    False

In [65]:
df.rename(columns={'a': 'A', 'b': 'B', 'c': 'C', 'd': 'D', 'e': 'E', 'f': 'F'})

   Unnamed: 0  A   B   C   D message
0           2  9  10  11  12     foo

In [66]:
df.columns

Index(['Unnamed: 0', 'a', 'b', 'c', 'd', 'message'], dtype='object')

In [67]:
df  = pd.read_csv("E:\examples\ex5.csv")

In [68]:
import sys

In [69]:
data.to_csv("E:\examples\ex5.csv", index = False, header = False)

In [70]:
data

   0   1   2   3        4
0  a   b   c   d  message
1  1   2   3   4    hello
2  5   6   7   8    world
3  9  10  11  12      foo

In [71]:
re  = pd.read_csv("E:\examples\ex6.csv")

In [72]:
re

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
...        ...       ...       ...       ...  ..
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

In [73]:
pd.options.display.max_rows = 10

In [74]:
re  = pd.read_csv("E:\examples\ex6.csv", nrows = 10)

In [75]:
re

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [76]:
re.head(10)

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [77]:
re  = pd.read_csv("E:\examples\ex5.csv")

In [78]:
re

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [79]:
re.to_csv("E:\examples\ex5.csv")

In [80]:
re.to_csv('abc.csv')

In [81]:
pwd

'C:\\Users\\JEYA KUMAR R\\Documents\\Ineuron Files'

In [82]:
data  = pd.read_csv("E:\examples\out.csv")

In [83]:
data

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [84]:
import sys

data.to_csv(sys.stdout, na_rep = "NULL")

,Unnamed: 0,something,a,b,c,d,message
0,0,one,1,2,3.0,4,NULL
1,1,two,5,6,NULL,8,world
2,2,three,9,10,11.0,12,foo

In [85]:
data.to_csv(sys.stdout, na_rep = "0")

,Unnamed: 0,something,a,b,c,d,message
0,0,one,1,2,3.0,4,0
1,1,two,5,6,0,8,world
2,2,three,9,10,11.0,12,foo

In [86]:
data.to_csv('out.csv', index = False, header = False)

In [87]:
data

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [88]:
 data.to_csv('out.csv', index = False, columns = ['a', 'b', 'c'])

In [89]:
data

   Unnamed: 0 something  a   b     c   d message
0           0       one  1   2   3.0   4     NaN
1           1       two  5   6   NaN   8   world
2           2     three  9  10  11.0  12     foo

In [90]:
 dates = pd.date_range('1/1/2020', periods = 7)

In [91]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07'],
              dtype='datetime64[ns]', freq='D')

In [92]:
type(dates)

pandas.core.indexes.datetimes.DatetimeIndex

In [93]:
import numpy as np

In [94]:
ts = pd.Series(np.arange(7))

In [95]:
ts

0    0
1    1
2    2
3    3
4    4
5    5
6    6
dtype: int32

In [96]:
ts = pd.Series(np.arange(7), index = dates)

In [97]:
ts

2020-01-01    0
2020-01-02    1
2020-01-03    2
2020-01-04    3
2020-01-05    4
2020-01-06    5
2020-01-07    6
Freq: D, dtype: int32

In [98]:
ts = pd.Series(np.arange(3), index = ['Jeya', 'kumar', 'R'])

In [99]:
ts

Jeya     0
kumar    1
R        2
dtype: int32

In [100]:
import csv

In [101]:
f  = open('E:\examples\out.csv')

In [102]:
r = csv.reader(f)

In [103]:
r

In [104]:
for i in r:
    print(i)

['', 'something', 'a', 'b', 'c', 'd', 'message']
['0', 'one', '1', '2', '3.0', '4', '']
['1', 'two', '5', '6', '', '8', 'world']
['2', 'three', '9', '10', '11.0', '12', 'foo']

In [105]:
with open('E:\examples\out.csv') as f:
    l = list(csv.reader(f))

In [106]:
l

[['', 'something', 'a', 'b', 'c', 'd', 'message'],
 ['0', 'one', '1', '2', '3.0', '4', ''],
 ['1', 'two', '5', '6', '', '8', 'world'],
 ['2', 'three', '9', '10', '11.0', '12', 'foo']]

In [107]:
header, values = l[0], l[1:]

In [108]:
header

['', 'something', 'a', 'b', 'c', 'd', 'message']

In [109]:
list(r)

[]

In [110]:
list(zip(values))

[(['0', 'one', '1', '2', '3.0', '4', ''],),
 (['1', 'two', '5', '6', '', '8', 'world'],),
 (['2', 'three', '9', '10', '11.0', '12', 'foo'],)]

In [111]:
list(zip(*values))

[('0', '1', '2'),
 ('one', 'two', 'three'),
 ('1', '5', '9'),
 ('2', '6', '10'),
 ('3.0', '', '11.0'),
 ('4', '8', '12'),
 ('', 'world', 'foo')]

In [112]:
zip(header, zip(*values))

In [113]:
list(zip(header, zip(*values)))

[('', ('0', '1', '2')),
 ('something', ('one', 'two', 'three')),
 ('a', ('1', '5', '9')),
 ('b', ('2', '6', '10')),
 ('c', ('3.0', '', '11.0')),
 ('d', ('4', '8', '12')),
 ('message', ('', 'world', 'foo'))]

In [114]:
c, n = ('a', ('1','1'))

In [115]:
c

'a'

In [116]:
n

('1', '1')

In [117]:
a,b,c = 1,2,3

In [118]:
a

1

In [119]:
b

2

In [120]:
c

3

In [121]:
a = 1,2,3

In [122]:
a

(1, 2, 3)

In [123]:
data_dict = {h: v for h, v in zip(header, zip(values))}

In [124]:
data_dict

{'': (['0', 'one', '1', '2', '3.0', '4', ''],),
 'something': (['1', 'two', '5', '6', '', '8', 'world'],),
 'a': (['2', 'three', '9', '10', '11.0', '12', 'foo'],)}

In [125]:
data_dict = {h: v for h, v in zip(header, zip(*values))}

In [126]:
data_dict

{'': ('0', '1', '2'),
 'something': ('one', 'two', 'three'),
 'a': ('1', '5', '9'),
 'b': ('2', '6', '10'),
 'c': ('3.0', '', '11.0'),
 'd': ('4', '8', '12'),
 'message': ('', 'world', 'foo')}

In [127]:
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,0]

{a:b for a,b in zip(l1,l2)}

{1: 6, 2: 7, 3: 8, 4: 9, 5: 0}

In [128]:
#JSON Data

In [129]:
import json

In [130]:
obj = """
{"name" : "jeya",
"places" : ["United States", "India", "Germany"],
"pet" : null,
"siblings" : [{"name" : "Hari", "age" : 30, "pets" : ["Zeus", " Zuro"]},
              {"name" : "Katie", "age" : 32,
               "pets" : ["Sixes", "Stache", "Cisco"]}]
}
"""

In [131]:
re = json.loads(obj)

In [132]:
re

{'name': 'jeya',
 'places': ['United States', 'India', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Hari', 'age': 30, 'pets': ['Zeus', ' Zuro']},
  {'name': 'Katie', 'age': 32, 'pets': ['Sixes', 'Stache', 'Cisco']}]}

In [133]:
type(re)

dict

In [134]:
type(obj)

str

In [135]:
asj  = json.dumps(re)

In [136]:
asj

'{"name": "jeya", "places": ["United States", "India", "Germany"], "pet": null, "siblings": [{"name": "Hari", "age": 30, "pets": ["Zeus", " Zuro"]}, {"name": "Katie", "age": 32, "pets": ["Sixes", "Stache", "Cisco"]}]}'

In [137]:
type(asj)

str

In [138]:
sib = pd.DataFrame(re["siblings"], columns = ['name', 'age', 'pets'])

In [139]:
sib

    name  age                    pets
0   Hari   30           [Zeus,  Zuro]
1  Katie   32  [Sixes, Stache, Cisco]

In [140]:
data = pd.read_json("E:\examples\example.json")

In [141]:
data

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [142]:
data.to_json()

'{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}'

In [143]:
print(data.to_json(orient = 'records'))

[{"a":1,"b":2,"c":3},{"a":4,"b":5,"c":6},{"a":7,"b":8,"c":9}]

In [144]:
#XML and HTML: Web Scraping

In [153]:
#Binary data formats

In [154]:
frame = pd.read_csv("E:\examples\ex1.csv")

In [155]:
frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [157]:
frame.to_pickle('frame_pickle')

In [159]:
pd.read_pickle("frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [160]:
pwd

'C:\\Users\\JEYA KUMAR R\\Documents\\Ineuron Files'

In [161]:
frame  = pd.DataFrame({'a': np.random.randn(100)})

In [162]:
frame

           a
0  -0.165782
1  -0.224193
2   0.171972
3  -1.186650
4   0.426875
..       ...
95 -0.496920
96 -0.646584
97 -0.581091
98 -1.474388
99  2.884658

[100 rows x 1 columns]

In [167]:
import requests

In [168]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'

In [169]:
resp = requests.get('https://api.github.com/repos/pandas-dev/pandas/issues')

In [170]:
resp

In [171]:
type(resp)

requests.models.Response

In [172]:
data = resp.json()

In [173]:
data

[{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/43358',
  'id': 986544499,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NzI1NzQxMDg5',
  'number': 43358,
  'title': 'TST: added test for groupby when calling first, last, nth (GH29645)',
  'user': {'login': 'lorenzophys',
   'id': 63981558,
   'node_id': 'MDQ6VXNlcjYzOTgxNTU4',
   'avatar_url': 'https://avatars.githubusercontent.com/u/63981558?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/lorenzophys',
   'html_url': 'https://github.com/lorenzophys',
   'followers_url': 'https://api.github.com/users/lorenzophys/followers',
   'following_url': 'https://api.github.com/users/lorenzophys/following{/other_user}',
   'gists_url': 'https://api.github.com/users/lorenzophys/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/lorenzophys/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/lorenzophys/subscriptions',
   'organizations_url': 'https://api.github.com/users/lorenzophys/orgs',
   'repos_url': 'https://api.github.com/users/lorenzophys/repos',
   'events_url': 'https://api.github.com/users/lorenzophys/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/lorenzophys/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-09-02T10:54:17Z',
  'updated_at': '2021-09-02T13:34:32Z',
  'closed_at': None,
  'author_association': 'CONTRIBUTOR',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/43358',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/43358',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/43358.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/43358.patch'},
  'body': '- [x] closes #29645\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n\r\nProvided test for `groupby` when callling `first`, `last`, `nth` on a `Series` with `None` or `np.nan`.\r\n\r\nTests and linter pass locally.\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43357',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43357/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43357/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43357/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/43357',
  'id': 986232261,
  'node_id': 'MDU6SXNzdWU5ODYyMzIyNjE=',
  'number': 43357,
  'title': 'BUG:',
  'user': {'login': 'jakeanq',
   'id': 3282717,
   'node_id': 'MDQ6VXNlcjMyODI3MTc=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/3282717?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jakeanq',
   'html_url': 'https://github.com/jakeanq',
   'followers_url': 'https://api.github.com/users/jakeanq/followers',
   'following_url': 'https://api.github.com/users/jakeanq/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jakeanq/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jakeanq/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jakeanq/subscriptions',
   'organizations_url': 'https://api.github.com/users/jakeanq/orgs',
   'repos_url': 'https://api.github.com/users/jakeanq/repos',
   'events_url': 'https://api.github.com/users/jakeanq/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jakeanq/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 1954720290,
    'node_id': 'MDU6TGFiZWwxOTU0NzIwMjkw',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Needs%20Triage',
    'name': 'Needs Triage',
    'color': '0052cc',
    'default': False,
    'description': 'Issue that has not been reviewed by a pandas team member'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-09-02T06:39:56Z',
  'updated_at': '2021-09-02T06:39:56Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '- [X] I have checked that this issue has not already been reported.\r\n\r\n- [X] I have confirmed this bug exists on the latest version of pandas.  The bug is present on 1.3.0, 1.3.1 and 1.3.2 but not 1.2.5.\r\n\r\n- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.\r\n\r\n---\r\n\r\n**Note**: Please read [this guide](https://matthewrocklin.com/blog/work/2018/02/28/minimal-bug-reports) detailing how to provide the necessary information for us to reproduce your bug.\r\n\r\n#### Code Sample, a copy-pastable example\r\n\r\n```python\r\n#!/usr/bin/env python\r\n\r\nimport pandas as pd\r\n\r\ndef func(a, b, c=2):\r\n    pass\r\n\r\nif __name__ == "__main__":\r\n    s = pd.Series([1, 2, 3, 4])\r\n\r\n    s.aggregate(func, 0, 99, c=101)\r\n```\r\n\r\n#### Problem description\r\n\r\nPrior to Pandas 1.3.0, it was possible to pass kwargs when using Series.aggregate, however it appears that Pandas now attempts to apply the arguments and keyword arguments twice (first currying them then using them to call the curried function).\r\n\r\n#### Expected Output\r\n\r\nExpect output is the program running normally and not throwing an exception.\r\n\r\n#### Actual Output\r\n\r\n```python traceback\r\nTraceback (most recent call last):\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/apply.py", line 1068, in agg\r\n    result = self.obj.apply(f, *args, **kwargs)\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/series.py", line 4357, in apply\r\n    return SeriesApply(self, func, convert_dtype, args, kwargs).apply()\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/apply.py", line 1043, in apply\r\n    return self.apply_standard()\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/apply.py", line 1099, in apply_standard\r\n    mapped = lib.map_infer(\r\n  File "pandas/_libs/lib.pyx", line 2859, in pandas._libs.lib.map_infer\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/apply.py", line 131, in f\r\n    return func(x, *args, **kwargs)\r\nTypeError: f() got an unexpected keyword argument \'c\'\r\n\r\nDuring handling of the above exception, another exception occurred:\r\n\r\nTraceback (most recent call last):\r\n  File "/home/jake/./pd_test.py", line 11, in <module>\r\n    s.aggregate(func, 0, 99, c=101)\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/series.py", line 4227, in aggregate\r\n    result = op.agg()\r\n  File "/home/jake/pandas-env/lib/python3.9/site-packages/pandas/core/apply.py", line 1070, in agg\r\n    result = f(self.obj, *args, **kwargs)\r\nTypeError: f() got an unexpected keyword argument \'c\'\r\n```\r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\n\r\n```\r\n\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : 5f648bf1706dd75a9ca0d29f26eadfbb595fe52b\r\npython           : 3.9.6.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 5.13.5-arch1-1\r\nVersion          : #1 SMP PREEMPT Sun, 25 Jul 2021 18:02:58 +0000\r\nmachine          : x86_64\r\nprocessor        : \r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_AU.UTF-8\r\nLOCALE           : en_AU.UTF-8\r\n\r\npandas           : 1.3.2\r\nnumpy            : 1.21.2\r\npytz             : 2021.1\r\ndateutil         : 2.8.2\r\npip              : 21.1.3\r\nsetuptools       : 56.0.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : None\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : None\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : None\r\nIPython          : None\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfsspec           : None\r\nfastparquet      : None\r\ngcsfs            : None\r\nmatplotlib       : None\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : None\r\npandas_gbq       : None\r\npyarrow          : None\r\npyxlsb           : None\r\ns3fs             : None\r\nscipy            : None\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nnumba            : None\r\n```\r\n\r\n</details>\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43355',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43355/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43355/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43355/events',
  'html_url': 'https://github.com/pandas-dev/pandas/issues/43355',
  'id': 986024861,
  'node_id': 'MDU6SXNzdWU5ODYwMjQ4NjE=',
  'number': 43355,
  'title': 'BUG: Groupby rolling count gives inconsistent outputs with missing index ',
  'user': {'login': 'LiutongZhou',
   'id': 14278095,
   'node_id': 'MDQ6VXNlcjE0Mjc4MDk1',
   'avatar_url': 'https://avatars.githubusercontent.com/u/14278095?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/LiutongZhou',
   'html_url': 'https://github.com/LiutongZhou',
   'followers_url': 'https://api.github.com/users/LiutongZhou/followers',
   'following_url': 'https://api.github.com/users/LiutongZhou/following{/other_user}',
   'gists_url': 'https://api.github.com/users/LiutongZhou/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/LiutongZhou/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/LiutongZhou/subscriptions',
   'organizations_url': 'https://api.github.com/users/LiutongZhou/orgs',
   'repos_url': 'https://api.github.com/users/LiutongZhou/repos',
   'events_url': 'https://api.github.com/users/LiutongZhou/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/LiutongZhou/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [{'id': 76811,
    'node_id': 'MDU6TGFiZWw3NjgxMQ==',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Bug',
    'name': 'Bug',
    'color': 'e10c02',
    'default': False,
    'description': None},
   {'id': 233160,
    'node_id': 'MDU6TGFiZWwyMzMxNjA=',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby',
    'name': 'Groupby',
    'color': '729FCF',
    'default': False,
    'description': None},
   {'id': 1045950827,
    'node_id': 'MDU6TGFiZWwxMDQ1OTUwODI3',
    'url': 'https://api.github.com/repos/pandas-dev/pandas/labels/Window',
    'name': 'Window',
    'color': 'd4c5f9',
    'default': False,
    'description': 'rolling, ewma, expanding'}],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 1,
  'created_at': '2021-09-02T02:57:52Z',
  'updated_at': '2021-09-02T06:03:02Z',
  'closed_at': None,
  'author_association': 'NONE',
  'active_lock_reason': None,
  'body': '- [x] I have checked that this issue has not already been reported.\r\n\r\n- [x] I have confirmed this bug exists on the latest version of pandas.\r\n\r\n- [ ] (optional) I have confirmed this bug exists on the master branch of pandas.\r\n\r\n---\r\n\r\n#### Code Sample, a copy-pastable example\r\n\r\n```python\r\n# [1] In:\r\nimport pandas as pd\r\n\r\nassert pd.__version__ == "1.3.2"\r\n\r\ndf = pd.DataFrame(\r\n    {\r\n        "id": ["a", "a", "b", "b", "b"],\r\n        "timestamp": pd.date_range("2021-9-1", periods=5, freq="H"),\r\n        "y": range(5),\r\n    }\r\n)\r\ndf\r\n```\r\n\r\n```python\r\n# [1] Out:\r\n  id           timestamp  y\r\n0  a 2021-09-01 00:00:00  0\r\n1  a 2021-09-01 01:00:00  1\r\n2  b 2021-09-01 02:00:00  2\r\n3  b 2021-09-01 03:00:00  3\r\n4  b 2021-09-01 04:00:00  4\r\n```\r\n\r\n```python\r\n# [2] In: \r\ngrp = df.groupby("id").rolling("1H", on="timestamp")\r\ngrp.count()  # original index is in output\r\n```\r\n\r\n```python\r\n# [2] Out: \r\n# original index [0,1,2,3,4] is in output\r\n               timestamp    y\r\nid                           \r\na  0 2021-09-01 00:00:00  1.0\r\n   1 2021-09-01 01:00:00  1.0\r\nb  2 2021-09-01 02:00:00  1.0\r\n   3 2021-09-01 03:00:00  1.0\r\n   4 2021-09-01 04:00:00  1.0\r\n```\r\n\r\n```python\r\n# [3] In:\r\ngrp["y"].count()  \r\n```\r\n\r\n```python\r\n# [3] Out:\r\n# original index [0,1,2,3,4] is missing in output for pandas 1.3.2. \r\n# though pandas 1.1.5 keeps it\r\nid  timestamp          \r\na   2021-09-01 00:00:00    1.0\r\n    2021-09-01 01:00:00    1.0\r\nb   2021-09-01 02:00:00    1.0\r\n    2021-09-01 03:00:00    1.0\r\n    2021-09-01 04:00:00    1.0\r\nName: y, dtype: float64\r\n```\r\n\r\n```python \r\n# [4] In:\r\ngrp.count()   # output is inconsistent with that from cell 2. \r\n```\r\n\r\n```python\r\n# [4] Out:\r\n# output is inconsistent with that from cell 2. \r\n                       timestamp    y\r\nid timestamp                         \r\na  2021-09-01 00:00:00       NaT  1.0\r\n   2021-09-01 01:00:00       NaT  1.0\r\nb  2021-09-01 02:00:00       NaT  1.0\r\n   2021-09-01 03:00:00       NaT  1.0\r\n   2021-09-01 04:00:00       NaT  1.0\r\n```\r\n\r\n#### Problem description\r\n1. Groupby rolling count gives inconsistent outputs (see outputs from cell 2 and cell 4) when running cell 1~4. Same problem exists when `count` is replaced by `agg(len)` \r\n2. Using pandas 1.3.2, output from cell 3 omits the original index, whereas pandas 1.1 keeps original index in output (see below)\r\n```python\r\nassert pd.__version__ == "1.1.5"\r\n# [3] In:\r\ngrp["y"].count()  # original index is kept in output\r\n\r\n# [3] Out:\r\nid   \r\na   0    1.0\r\n    1    2.0\r\nb   2    1.0\r\n    3    2.0\r\n    4    3.0\r\n```  \r\n\r\n#### Expected Output\r\n1. Output from cell 4 should be identical to output from cell 2 \r\n2. Original index (in this example, `[0,1,2,3,4]`) should be (at least optionally if not by default) kept in outputs otherwise there will be no way to traceback which rolling count corresponds to the original row (see cell 3 outputs). Joining two data frames on `[\'id\', \'timestamp\']` afterwards is not the correct solution as it is easy to find non 1-1 match examples. \r\n\r\n#### Output of ``pd.show_versions()``\r\n\r\n<details>\r\nINSTALLED VERSIONS\r\n------------------\r\ncommit           : 5f648bf1706dd75a9ca0d29f26eadfbb595fe52b\r\npython           : 3.8.10.final.0\r\npython-bits      : 64\r\nOS               : Linux\r\nOS-release       : 4.14.225-121.362.amzn1.x86_64\r\nVersion          : #1 SMP Tue Mar 23 00:29:14 UTC 2021\r\nmachine          : x86_64\r\nprocessor        : x86_64\r\nbyteorder        : little\r\nLC_ALL           : None\r\nLANG             : en_US.UTF-8\r\nLOCALE           : en_US.UTF-8\r\n\r\npandas           : 1.3.2\r\nnumpy            : 1.20.3\r\npytz             : 2021.1\r\ndateutil         : 2.8.2\r\npip              : 21.2.4\r\nsetuptools       : 57.4.0\r\nCython           : None\r\npytest           : None\r\nhypothesis       : None\r\nsphinx           : 4.1.2\r\nblosc            : None\r\nfeather          : None\r\nxlsxwriter       : 3.0.1\r\nlxml.etree       : None\r\nhtml5lib         : None\r\npymysql          : None\r\npsycopg2         : None\r\njinja2           : 3.0.1\r\nIPython          : 7.26.0\r\npandas_datareader: None\r\nbs4              : None\r\nbottleneck       : None\r\nfsspec           : 2021.07.0\r\nfastparquet      : None\r\ngcsfs            : None\r\nmatplotlib       : 3.4.3\r\nnumexpr          : None\r\nodfpy            : None\r\nopenpyxl         : 3.0.7\r\npandas_gbq       : None\r\npyarrow          : 5.0.0\r\npyxlsb           : None\r\ns3fs             : 0.4.2\r\nscipy            : 1.6.3\r\nsqlalchemy       : None\r\ntables           : None\r\ntabulate         : None\r\nxarray           : None\r\nxlrd             : None\r\nxlwt             : None\r\nnumba            : None\r\n\r\n</details>\r\n',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43354',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
  'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43354/labels{/name}',
  'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43354/comments',
  'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43354/events',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/43354',
  'id': 986003514,
  'node_id': 'MDExOlB1bGxSZXF1ZXN0NzI1MjUwMTEw',
  'number': 43354,
  'title': 'PERF: concat',
  'user': {'login': 'jbrockmendel',
   'id': 8078968,
   'node_id': 'MDQ6VXNlcjgwNzg5Njg=',
   'avatar_url': 'https://avatars.githubusercontent.com/u/8078968?v=4',
   'gravatar_id': '',
   'url': 'https://api.github.com/users/jbrockmendel',
   'html_url': 'https://github.com/jbrockmendel',
   'followers_url': 'https://api.github.com/users/jbrockmendel/followers',
   'following_url': 'https://api.github.com/users/jbrockmendel/following{/other_user}',
   'gists_url': 'https://api.github.com/users/jbrockmendel/gists{/gist_id}',
   'starred_url': 'https://api.github.com/users/jbrockmendel/starred{/owner}{/repo}',
   'subscriptions_url': 'https://api.github.com/users/jbrockmendel/subscriptions',
   'organizations_url': 'https://api.github.com/users/jbrockmendel/orgs',
   'repos_url': 'https://api.github.com/users/jbrockmendel/repos',
   'events_url': 'https://api.github.com/users/jbrockmendel/events{/privacy}',
   'received_events_url': 'https://api.github.com/users/jbrockmendel/received_events',
   'type': 'User',
   'site_admin': False},
  'labels': [],
  'state': 'open',
  'locked': False,
  'assignee': None,
  'assignees': [],
  'milestone': None,
  'comments': 0,
  'created_at': '2021-09-02T02:34:11Z',
  'updated_at': '2021-09-02T02:34:11Z',
  'closed_at': None,
  'author_association': 'MEMBER',
  'active_lock_reason': None,
  'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/43354',
   'html_url': 'https://github.com/pandas-dev/pandas/pull/43354',
   'diff_url': 'https://github.com/pandas-dev/pandas/pull/43354.diff',
   'patch_url': 'https://github.com/pandas-dev/pandas/pull/43354.patch'},
  'body': '```\r\nfrom asv_bench.benchmarks.groupby import *\r\nself = Apply()\r\nself.setup(4)\r\n\r\n%timeit self.time_copy_overhead_single_col(4)\r\n213 ms  10.9 ms per loop (mean  std. dev. of 7 runs, 1 loop each)  # <- master\r\n161 ms  2.84 ms per loop (mean  std. dev. of 7 runs, 10 loops each)  # <- PR\r\n```',
  'performed_via_github_app': None},
 {'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43351',
  'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',

In [174]:
data[0]

{'url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358',
 'repository_url': 'https://api.github.com/repos/pandas-dev/pandas',
 'labels_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358/labels{/name}',
 'comments_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358/comments',
 'events_url': 'https://api.github.com/repos/pandas-dev/pandas/issues/43358/events',
 'html_url': 'https://github.com/pandas-dev/pandas/pull/43358',
 'id': 986544499,
 'node_id': 'MDExOlB1bGxSZXF1ZXN0NzI1NzQxMDg5',
 'number': 43358,
 'title': 'TST: added test for groupby when calling first, last, nth (GH29645)',
 'user': {'login': 'lorenzophys',
  'id': 63981558,
  'node_id': 'MDQ6VXNlcjYzOTgxNTU4',
  'avatar_url': 'https://avatars.githubusercontent.com/u/63981558?v=4',
  'gravatar_id': '',
  'url': 'https://api.github.com/users/lorenzophys',
  'html_url': 'https://github.com/lorenzophys',
  'followers_url': 'https://api.github.com/users/lorenzophys/followers',
  'following_url': 'https://api.github.com/users/lorenzophys/following{/other_user}',
  'gists_url': 'https://api.github.com/users/lorenzophys/gists{/gist_id}',
  'starred_url': 'https://api.github.com/users/lorenzophys/starred{/owner}{/repo}',
  'subscriptions_url': 'https://api.github.com/users/lorenzophys/subscriptions',
  'organizations_url': 'https://api.github.com/users/lorenzophys/orgs',
  'repos_url': 'https://api.github.com/users/lorenzophys/repos',
  'events_url': 'https://api.github.com/users/lorenzophys/events{/privacy}',
  'received_events_url': 'https://api.github.com/users/lorenzophys/received_events',
  'type': 'User',
  'site_admin': False},
 'labels': [],
 'state': 'open',
 'locked': False,
 'assignee': None,
 'assignees': [],
 'milestone': None,
 'comments': 0,
 'created_at': '2021-09-02T10:54:17Z',
 'updated_at': '2021-09-02T13:34:32Z',
 'closed_at': None,
 'author_association': 'CONTRIBUTOR',
 'active_lock_reason': None,
 'pull_request': {'url': 'https://api.github.com/repos/pandas-dev/pandas/pulls/43358',
  'html_url': 'https://github.com/pandas-dev/pandas/pull/43358',
  'diff_url': 'https://github.com/pandas-dev/pandas/pull/43358.diff',
  'patch_url': 'https://github.com/pandas-dev/pandas/pull/43358.patch'},
 'body': '- [x] closes #29645\r\n- [x] tests added / passed\r\n- [x] Ensure all linting tests pass, see [here](https://pandas.pydata.org/pandas-docs/dev/development/contributing.html#code-standards) for how to run them\r\n\r\nProvided test for `groupby` when callling `first`, `last`, `nth` on a `Series` with `None` or `np.nan`.\r\n\r\nTests and linter pass locally.\r\n',
 'performed_via_github_app': None}

In [175]:
data[0]['title']

'TST: added test for groupby when calling first, last, nth (GH29645)'

In [176]:
data[0]['user']['id']

63981558

In [177]:
l = []
for i in range(len(data)):
    l.append(data[i]['user']['id'])

In [178]:
l

[63981558,
 3282717,
 14278095,
 8078968,
 11664259,
 16733618,
 7604948,
 24256554,
 6472290,
 355612,
 355612,
 45562402,
 8078968,
 669983,
 6472290,
 59931832,
 30958850,
 64204436,
 23625371,
 24256554,
 8078968,
 53947956,
 11664259,
 47963215,
 47963215,
 74418133,
 10117348,
 24571294,
 15094347,
 980054]

In [179]:
iss = pd.DataFrame(data, columns = ['numbers', 'title', 'labels', 'state'])

In [180]:
iss

,numbers,title,labels,state
0,NaN,TST: added test for groupby when calling first...,[],open
1,NaN,BUG:,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
2,NaN,BUG: Groupby rolling count gives inconsistent ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
3,NaN,PERF: concat,[],open
4,NaN,BUG: Inconsistent assignment of `NAT` values t...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
...,...,...,...,...
25,NaN,BUG: pd.json_normalize() does not handle index...,"[{'id': 34444536, 'node_id': 'MDU6TGFiZWwzNDQ0...",open
26,NaN,BUG: Solves errors when calling series methods...,"[{'id': 76812, 'node_id': 'MDU6TGFiZWw3NjgxMg=...",open
27,NaN,Added multi index functionality to Dataframe.f...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,NaN,BUG: inconsistent result when groupby then sum...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
29,NaN,BUG: Fixes to FixedForwardWindowIndexer and Gr...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open