In [1]:
def test(a, b = 1):
    return a+b

In [2]:
test(3)

4

In [3]:
test(3,5)

8

In [4]:
def ooo(a,n,m,b=1):
    return a + b

In [5]:
ooo(10,40,50)

11

In [8]:
def modify_list(a):
    l = []
    if type(a) == list:
        for i in a:
            l = print(i+4)
    return l

In [9]:
modify_list([1,2,3,4,5,6,7,8,9])

5
6
7
8
9
10
11
12
13

In [16]:
def modify_list(a):
    l = []
    if type(a) == list:
        for i in a:
            l.append(i+4)
    else:
        print("input is not a list")
    return l

In [17]:
modify_list([1,2,3,4,5,6,7,8,9])

[5, 6, 7, 8, 9, 10, 11, 12, 13]

In [18]:
modify_list("jeya")

input is not a list

[]

In [25]:
def greeting(name):
    print("Hello %s" %name)

In [26]:
greeting("jeya")

Hello jeya

In [66]:
def is_prime(a):
    for i in range(2,a):
        if a%i == 0:
            print("not prime")
            break
            
    else:
        print("prime")

In [67]:
is_prime(45)

not prime

In [60]:
def factor(n):
    flist = []
    for i in range(1,n+1):
        if n%i == 0:
            flist = flist + [i]
    return(flist)

In [61]:
factor(10)

[1, 2, 5, 10]

In [75]:
def isprime(n):
    return (factor(n) == [1,n])

In [76]:
isprime(5)

True

In [77]:
def nprimes(n):
    (count,i,plist) = (0,1,[])
    while(count < n):
        if isprime(n):
            (count,plist) = (count+1,plist+[i])
        i = i+1
    return(plist)

In [78]:
nprimes(5)

[1, 2, 3, 4, 5]

In [88]:
def iss(n):
    for i in range(2,n):
        if n%i == 0:
            print("not prime")
            break
    else:
        print("prime")

In [89]:
iss(5)

prime

In [90]:
iss(4)

not prime

In [98]:
import math

def pri(n):
    if n % 2 == 0 and n > 2: #check for even number
        return False
    for i in range(3, int(math.sqrt(n)) + 1, 2): #check for odd number
        if num % i == 0:
            return False
    return True

In [100]:
pri(4)

False

In [106]:
!pip install time

ERROR: Could not find a version that satisfies the requirement time (from versions: none)
ERROR: No matching distribution found for time

In [105]:
c:\users\jeya kumar r\appdata\local\programs\python\python39\python.exe -m pip install --upgrade pip

SyntaxError: unexpected character after line continuation character (<ipython-input-105-233f9d2edbf4>, line 1)

In [107]:
# Python Program to find prime numbers in a range
import time
def is_prime(n):
	if n <= 1:
		return False
	for i in range(2,n):
		if n % i == 0:
			return False
	return True

# Driver function
t0 = time.time()
c = 0 #for counting

for n in range(1,100000):
	x = is_prime(n)
	c += x
print("Total prime numbers in range :", c)

t1 = time.time()
print("Time required :", t1 - t0)

Total prime numbers in range : 9592
Time required : 51.441237688064575

In [108]:
# Python Program to find prime numbers in a range
import math
import time
def is_prime(n):
	if n <= 1:
		return False

	max_div = math.floor(math.sqrt(n))
	for i in range(2, 1 + max_div):
		if n % i == 0:
			return False
	return True

# Driver function
t0 = time.time()
c = 0 #for counting

for n in range(1,100000):
	x = is_prime(n)
	c += x
print("Total prime numbers in range :", c)

t1 = time.time()
print("Time required :", t1 - t0)

Total prime numbers in range : 9592
Time required : 0.3439669609069824

In [109]:
range(9)

range(0, 9)

In [110]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [113]:
def gencube(n):
    for i in range(n):
        print(i**3)

In [114]:
gencube(3)

0
1
8

In [117]:
def cube(n):
    for i in range(n):
        return n**3

In [118]:
cube(3)

27

In [122]:
#Generator function for the cube of numbers (power of n)
def cu(n):
    for i in range(n):
        yield i**3

In [123]:
cu(3)

In [124]:
for x in cu(3):
    print(x)

0
1
8

In [125]:
list(cu(10))

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [126]:
next("jeya")

TypeError: 'str' object is not an iterator

In [127]:
next(45)

TypeError: 'int' object is not an iterator

In [128]:
iter(34)

TypeError: 'int' object is not iterable

In [129]:
iter("jeya")

In [14]:
def cub(n):
    for i in range(n):
        yield i**3

In [15]:
a = cub(10)

In [23]:
next(a)

125

In [24]:
def fibon(n):
    a = 1
    b = 1
    for i in range(n):
        yield a 
        a,b = b, a+b

In [25]:
for i in fibon(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [26]:
def fib(n):
    a = 1
    b = 1
    
    output = []
    
    for i in range(n):
        output.append(a)
        a,b = b, a+b
    return output

In [27]:
fib(10)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [1]:
#map fn

In [7]:
def fah(e):
    return ((float(9)/5)*e + 32)

In [8]:
def cel(f):
    return(float(5)/9)*(f-32)

In [9]:
temp = [0, 22.5, 40, 100]

In [12]:
l = []

for i in temp:
    l.append(fah(i))

In [13]:
l

[32.0, 72.5, 104.0, 212.0]

In [14]:
  fah_temp = list(map(fah, temp))

In [15]:
fah_temp

[32.0, 72.5, 104.0, 212.0]

In [16]:
  cal_temp = list(map(cel, temp))

In [17]:
cal_temp

[-17.77777777777778, -5.277777777777778, 4.444444444444445, 37.77777777777778]

In [19]:
#using lambda or it is also a anonymous fn

list(map(lambda x : x**3,l))

[32768.0, 381078.125, 1124864.0, 9528128.0]

In [20]:
a = [1,2,3,4]
b = [5,6,7,8]
c = [9,10,11,12,4,5]

def total(x,y,z):
    return x+y+z

In [21]:
list(map(total,a,b,c))

[15, 18, 21, 24]

In [22]:
list(map(lambda x, y ,z : x+y+z, a,b,c))

[15, 18, 21, 24]

In [23]:
#reduce

In [24]:
from functools import reduce

In [25]:
l = [34,56,42,75,87,97]

In [26]:
def summation(a,b):
    return a+b

In [27]:
reduce(summation,l)

391

In [31]:
lst = ['jeya', ' kumar', ' MSC DA']

In [32]:
reduce(lambda a,b: a+b,lst)

'jeya kumar MSC DA'

In [33]:
#find the max of a sequence

max_find = lambda a,b:a if (a>b) else b

In [34]:
lt = [45,34,67,23]

In [35]:
reduce(max_find, lt)

67